html, body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1em;
}

main {
    max-width: 60em;
    margin: 0 auto;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0 2em 0;
}

label {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

label > input {
    flex-grow: 1;
    padding: 0.5em;
    margin: 0.5em 1em;
}

input {
    font-size: 1em;
}

button {
    flex-grow: 0;
    max-width: 100px;
    margin: 0 auto;
    font-size: 1em;

}

